---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("December 25 2023")}
	heroImage="/portrait.jpg"
>
	<p>
		I'm part of the hardware engineering team at <a
			href="https://scoutdi.com/"
			target="_blank"><span class="label">ScoutDI</span></a
		> in Trondheim, Norway. I've got a <a
			href="https://www.ntnu.no/studier/mtelsys"
			target="_blank"
			><span class="label">Master's in Electronic Systems Design</span></a
		>, with a knack for signal processing and communication. Before this, I
		was testing out cool stuff at <a
			href="https://alvaindustries.com/"
			target="_blank"><span class="label">Alva Industries</span></a
		>, building things at <a href="https://brilliant.no" target="_blank"
			><span class="label">Brilliant</span></a
		>, and during my student days, I got my hands dirty with some project
		work at <a href="https://norbit.com/subsea" target="_blank"
			><span class="label">Norbit Subsea</span></a
		>.
	</p>
	<p>
		When I'm not working, you'll probably find me in my office, messing
		around with home automation, 3D printing, electronics, or some
		woodworking project. I like keeping my hands busy and my mind creative.
	</p>
	<p>
		If you're curious about what I'm up to, or just want to see some of my
		work, feel free to check out my socials. I post there more often and
		it's a good way to stay in touch.
	</p>
</Layout>
