---

---

<header>
	<h1>
		<a style="text-decoration: none; color: rgb(var(--black))" href="/">
			Peter Remøy Paulsen
		</a>
	</h1>
</header>

<style>
	header {
		margin: 0;
		padding: 2em 1em 0 1em;
		min-height: 2em;
	}
	h1 {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	nav a {
		/* padding: 1em 0.5em; */
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
